/* overwrite */

a.navbar-brand {
  padding: 5px 15px;
}

.btn-primary {
  background-color: #7b349d;
}

/* custom */

.btn-space .btn {
  margin: 5px;
}

/* page structure */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

table.folders {
  border-spacing: 10px;
  width: 100%;
}

td, th {
  padding: 5px 10px;  
}

th {
  text-align: center;  
}

tbody tr:nth-child(odd) {
  background: #fafafa;
}

.nav-icons {
  font-size: 200%;
  text-align: center;
}

.nav-icons li a {
  display: inline;
  padding: 5px;
}

.showcase {
  background-color: #444;
  color: white;
  font-size: 120%;
}

.showcase .row {
  display: flex;
  flex-wrap: wrap;
}

.showcase img {
  margin-bottom: 10px;
}

.showcase .item {
  padding: 10px;
}

/* carousel */

.carousel .item {
  height: 500px;
}

@media screen and (max-width: 400px) {
  .carousel .item {
    height: 400px;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .carousel .item {
    height: 300px;
  }
}

@media screen and (min-width: 2000px) {
  .carousel .item {
    height: 700px;
  }
}

.carousel .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.carousel .item.img-01 {
  background-image: url("../img/01.jpg");
}

.carousel .item.img-02 {
  background-image: url("../img/02.jpg");
}

.carousel .item.img-03 {
  background-image: url("../img/03.jpg");
}

.carousel .item.img-04 {
  background-image: url("../img/04.jpg");
}

.footer {
  color: white;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #666;
}
